{%extends 'portraits/base.html'%}

{% block content %}

<div class="category d-flex flex-wrap">

    <div class="chooses d-flex flex-wrap">
        <div class="dropdown mx-4">
            <button type="button"
                    class="btn btn-primary dropdown-toggle"
                    data-toggle="dropdown">
                Location
            </button>
            <div class="dropdown-menu">
                {% for location in locations %}
                <a class="dropdown-item"
                   href="/location/{{location.location}}">{{ location.location }}</a>
                {% endfor %}

            </div>
        </div>
        <div class="dropdown">
            <button type="button"
                    class="btn btn-primary dropdown-toggle"
                    data-toggle="dropdown">
                Category
            </button>
            <div class="dropdown-menu">
                {% for cat in categories %}
                <a class="dropdown-item"
                   href="/category/{{cat.category}}">{{ cat.category }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="portrait d-flex flex-wrap">
        {% for port in portrait %}
        <div class="col-md-3">
            <div class="thumb">
                <h1>{{port.name}}</h1>
                <img class="img-thumbnail"
                     src="{{port.image.url}}"
                     alt="No image">
            </div>
        </div>
        <div aria-hidden="true"
             aria-labelledby="myModalLabel"
             class="modal fade"
             id="{{port.name}}"
             role="dialog"
             tabindex="-1">
            <div class="modal-dialog modal-lg"
                 role="document">
                <div class="modal-content">
                    <div class="modal-body mb-0 p-0">
                        <img src="{{port.image.url}}"
                             alt=""
                             style="width:100%">
                    </div>
                    <div class="modal-footer">
                        <div><a href=""
                               target="_blank">{{port.name}}</a></div>
                        <button class="btn btn-outline-primary btn-rounded btn-md ml-4 text-center"
                                data-dismiss="modal"
                                type="button">Close</button>
                        <input type="text"
                               value="127.0.0.1.800{{port.image.url}}"
                               id="myInput">

                        <button class="btn btn-outline-primary btn-rounded btn-md ml-4 text-center"
                                onclick="myFunction()"
                                data-dismiss="modal"
                                type="button">Copy text</button>


                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}