{%extends 'portraits/base.html'%}



{% block content %}

<div class="container-fluid">

    <h1 class="display-4 text-center">ANIME WALLPAPER</h1>

    <div class="locations d-flex flex-wrap">

        {% for location in locations %}

        <ul>
            <a href="/location/{{location.location}}">
                <li>{{ location.location}}</li>
            </a>
        </ul>
        {% endfor %}
    </div>



    <div class="portrait d-flex flex-wrap">
        {% for portrait in portraits %}
        <div class="col-md-3">
            <div class="thumb">
                <p>{{portrait.name}}</p>
                <img class="img-thumbnail"
                     src="{{portrait.image.url}}"
                     alt="No image">
            </div>
        </div>
        {% endfor %}
    </div>

    {% endblock %}

</div>

</html>