{%extends 'portraits/base.html'%}

{% block content %}

<div class="container-fluid">

    <h1 class="display-4 text-center">ANIME WALLPAPER</h1>


    <div class="container">
        <div class="btn-group">
            <div class="btn-group">
                <button type="button"
                        class="btn btn-primary dropdown-toggle"
                        data-toggle="dropdown">
                    Category
                </button>
                <button type="button"
                        class="btn btn-primary dropdown-toggle"
                        category
                        data-toggle="dropdown">
                    Location
                </button>
                <div class="dropdown-menu">
                    {% for location in locations %}

                    <a class="dropdown-item"
                       href="/location/{{location.location}}">{{ location.location}}</a>
                    {% endfor %}

                </div>
                <div class="dropdown-menu">
                    {% for cat in category %}

                    <a class="dropdown-item"
                       href="/category/{{category.category}}">{{ cat.category}}</a>
                    {% endfor %}

                </div>
                <div class="dropdown-menu">
                    <a class="dropdown-item"
                       href="#">Tablet</a>
                </div>
            </div>
        </div>
    </div>


    <div class="portrait d-flex flex-wrap">
        {% for portrait in portraits %}
        <div class="col-md-3">
            <div class="thumb">
                <p>{{portrait.name}}</p>
                <img class="img-thumbnail"
                     src="{{portrait.image.url}}"
                     alt="No image">
            </div>
        </div>
        {% endfor %}
    </div>


</div>
{% endblock %}

</html>