{%extends 'portraits/base.html'%}

{% block content %}

<div class="container-fluid">

    <h1 class="display-4 text-center">ANIME WALLPAPER</h1>


    <div class="container">
        <div class="chooses d-flex flex-wrap">
            <div class="dropdown mx-4">
                <button type="button"
                        class="btn btn-primary dropdown-toggle"
                        data-toggle="dropdown">
                    Location
                </button>
                <div class="dropdown-menu">
                    {% for location in locations %}
                    <a class="dropdown-item"
                       href="/location/{{location.location}}">{{ location.location }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown">
                <button type="button"
                        class="btn btn-primary dropdown-toggle"
                        data-toggle="dropdown">
                    Category
                </button>
                <div class="dropdown-menu">
                    {% for cat in category %}
                    <a class="dropdown-item"
                       href="/category/{{category.category}}">{{ cat.category}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <div class="portrait d-flex flex-wrap">
        {% for portrait in portraits %}

        <div class="col-md-3">
            <div class="thumb"
                 data-toggle="modal"
                 data-target="#moredetails">
                <h1>{{portrait.name}}</h1>
                <img class="
                 img-thumbnail"
                     src="{{portrait.image.url}}"
                     alt="No image">
            </div>
        </div>
        <div class="col-md-3 modal fade"
             id="moredetails"
             tabindex="-1"
             role="dialog"
             data-dismiss="modal"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="thumb">
                <h1 class="text-center">{{portrait.name}}</h1>
                <img class="img-thumbnail"
                     src="{{portrait.image.url}}"
                     alt="No image">
            </div>
        </div>
        {% endfor %}


    </div>


</div>
{% endblock %}

</html>