<div class="search d-flex flex-wrap justify-content-center m-4">
    <div class="search-bar">
        <form id="searchForm"
              method="post">
            <fieldset>

                <input id="s"
                       type="text" />

                <input type="submit"
                       value="Submit"
                       id="submitButton" />

                <div id="searchInContainer">
                    <input type="radio"
                           name="check"
                           value="site"
                           id="searchSite"
                           checked />
                    <label for="searchSite"
                           id="siteNameLabel">Search</label>
                </div>
            </fieldset>
        </form>
    </div>
</div>